<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Archidekt Live Set Completion</title>
  <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
  <link href="/style.css" rel="stylesheet" type="text/css" /> 
</head>

<body>
  <h1>Archidekt Live Set Completion</h1>
  <table>
    <thead>
      <tr>
        <th>Set Code</th>
        <th>Set Name</th>
        <th>Completion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each sets}}
      <tr>
        <td><i class="ss ss-{{this.code}}"></i>&nbsp;{{this.code}}</td>
        <td>{{#if this.name}}{{this.name}}{{else}}Unknown Set{{/if}}</td>
        <td>{{this.set_percentage}}
          <br />
          {{this.collected_count}} / {{this.set_count}} cards
        </td>
        <td><button onclick="document.getElementById('dialog-{{this.code}}').showModal();">Cards</button>
          <dialog id="dialog-{{this.code}}" closedby="any">
            <div class="modal-content">
              <form method="dialog" class="modal-header">
                <h2><i class="ss ss-{{this.code}}"></i>&nbsp;{{this.code}}
                  -
                  {{#if this.name}}{{this.name}}{{else}}Unknown Set{{/if}}
                  <br />
                  <small>{{this.set_percentage}}
                    <br />
                    {{this.collected_count}} / {{this.set_count}} cards</small>
                </h2>
                <button>X</button>
              </form>
              <ul class="grid modal-body">
                {{#each this.cards}}
                <li>
                  <figure>
                    <img loading="lazy" class="{{#unless this.collected}}disabled{{/unless}}" src="https://setbinder.app/cdn-cgi/image/width=146,height=204,format=avif/{{this.image}}"
                      title="{{#if this.collected}}Collected{{else}}Not Collected{{/if}}" />
                    <figcaption>{{this.collector_number}} - {{this.name}}</figcaption>
                  </figure>
                </li>
                {{/each}}
              </ul>
            </div>
          </dialog>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>